/* Generic designing */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'poppins', sans-serif;
}

/* Header Disigning */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  background-color: #fff;
}

.logo {
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

/* Main Disigning */

.main {
  display: flex;
  flex-direction: column;
  background-image: url(/img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  min-height: 75vh;
  background-size: 100% auto;
}

.heading {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  padding: 70px 20px 0 20px;
  line-height: 52px;
}

.sub {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 24px;
  line-height: 24px;
  margin-top: -40px;
  margin-bottom: -20px;
}

/* Designig social */

.icon {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: 1 1 10px;
  align-content: space-between;
  padding: 10px;
  height: 20px;
  flex-wrap: nowrap;
  margin-top: -25px;
}

.frame,
li {
  padding: 2px;
}

ul li {
  list-style: none;
  margin: 5px;
}

.icon li {
  padding: 10px;
}

a {
  text-decoration: none;
}

p a {
  color: #7f8cff;
}

/* signig worection */
.workcards {
  display: grid;
  row-gap: 4em;
  padding: 100px 25px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
}

.pic1 img {
  width: 100%;
}

.frame-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-top: -12px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  padding: 0%;
  margin-left: -5px;
}

.role,
.year {
  color: #7a869a;
}

.card-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin-top: 0;
}

.language-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
  margin-left: -5px;
}

.language {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.html,
.css,
.java {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px;
}

.card-btn {
  text-align: left;
  background-color: white;
  color: #396df2;
  width: fit-content;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 1px solid #396df2;
  padding: 12px;
}

.card-btn:hover {
  background-color: #2230d2;
  color: white;
}

.title {
  width: 34%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom {
  margin: 0 0 16px -25px;
}

.bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  padding: 0 20px;
  margin-left: 15px;
  margin-top: -30px;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.about-pic {
  margin-left: 35px;
}

.bicon {
  margin-left: 30px;
  margin-top: -40px;
}

.resume {
  margin: 20px 0 0 40px;
  padding: 10px;
}

.one {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin-top: 40px;
}

.two {
  min-height: 60vh;
}

.title-language {
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
  margin-top: 60px;
}

.tl {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.fotter-java {
  display: flex;
  padding-left: 56px;
  margin-top: 20px;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 304px;
  height: 70px;
}

.fotter-java > * {
  padding: 0;
}

.fotter-html {
  display: flex;
  padding-left: 60px;
  margin-top: -10px;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 70px;
}

.fotter-html > * {
  padding: 0;
}

.fotter-css {
  display: flex;
  padding-left: 60px;
  margin-top: 10px;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 303px;
  height: 70px;
}

.fotter-css > * {
  padding: 0;
}

.lp-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #253858;
}

.frameworks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arow {
  padding-right: 50px;
}

.framework,
.skills {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.project-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  margin: 0 0 12px 0;
}

.client {
  color: #344563;
}

.about {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  padding-left: 35px;
}

.connect1 {
  margin: 20px 0 20px 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  margin: 0 0 40px 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect,
a {
  color: #7f8cff;
}

@media (min-width: 768px) {
  .pic1 img {
    width: 100%;
    height: 100%;
  }
}
