/* Generic designing */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7f0f0;
}

/* Header Disigning */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  background-color: #f7f5f5;
}

.logo {
  height: auto;
  width: auto;
  font-family: Poppins, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

/* Main Disigning */

.main {
  display: flex;
  flex-direction: column;
  background-image: url(/img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  min-height: 75vh;
  background-size: 100% auto;
}

.heading {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  font-family: 'poppins', sans-serif;
  padding: 70px 20px 0 20px;
  line-height: 52px;
}

.sub {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  font-family: 'poppins', sans-serif;
  padding: 20px 24px;
  line-height: 24px;
  margin-top: -40px;
  margin-bottom: -20px;
}

/* Designig social */

.icon {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex: 1 1 10px;
  align-content: space-between;
  padding: 10px;
  height: 20px;
  flex-wrap: nowrap;
  margin-top: -38px;
}

.icon li {
  padding: 10px;
}

.contact {
  padding: 0 0 0 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left;
}

a {
  text-decoration: none;
}

p a {
  color: #7f8cff;
}

/*signig worection*/
.workcards {
  display: grid;
  row-gap: 2em;
  padding: 100px 25px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.pic1 img {
  width: 100%;
}

.title1 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;

}

.frame-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-top: -12px;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 0%;
  margin-left: -5px;
  margin-top: 15px;
}

.role,
.year {
  color: #7A869A;
}

.card-text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.language-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
}

.language {

  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;

}

.html,
.css,
.java {
  background-color: #EBEBFF;
  color: #6070FF;
  border-radius: 12px;
  padding: 10px;
}

ul li {
  list-style: none;
  margin: 5px;
}

.card-btn {
  text-align: left;
  background-color: white;
  color: #396DF2;
  width: fit-content;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid #396DF2;
  padding: 10px;
}

.card-btn:hover {
  background-color: #396DF2;
  color: white;
}

.title {
  width: 34%;
  margin-top: 20px;
}

.contact {
  margin: -10px 0px 16px -43px;
}

.bottom {
  margin: 0px 0px 16px -25px;
}

.bio {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.bio {
  padding: 0px 20px;
  margin-left: 20px;
}

.about-pic {
  margin-left: 35px;
}

.bicon {
  margin-left: 30px;
  margin-top: -40px;
}

.resume {
  margin: 20px 0px 0px 40px;
  padding: 10px;
}

.one {
  min-height: 60vh;
}

.two {
  min-height: 60vh;
}

.title-language {
  display: flex;
  justify-content: space-between;
  padding: 0px 45px;
}

.tl {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.fotter-java {
  display: flex;
  padding-left: 50px;
  margin-top: -15px;
}

.fotter-java>* {
  padding: 15px;
}

.fotter-html {
  display: flex;
  padding-left: 50px;
  margin-top: -15px;
}

.fotter-html>* {
  padding: 15px;
}

.fotter-css {
  display: flex;
  padding-left: 50px;
  margin-top: -15px;
}

.fotter-css>* {
  padding: 15px;
}

.lp-title {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #253858;
}

.frameworks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arow {
  padding-right: 50px;
}

.framework,
.skills {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width:768px) {
  .pic1 img {
    width: 100%;
    height: 100%;
  }
}